<a href="https://colab.research.google.com/github/HGF-AA/Python/blob/main/First_Presentation_(Cleaning)(AN_306).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

# Assuming the file is named 'yourfile.csv'
filename = '/content/drive/MyDrive/Colab Notebooks/Uncleaned_DS_jobs.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(filename)

# Display the first few rows of the DataFrame
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

First we will look its columns.

In [ ]:
#This will give the name of the columns
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [ ]:
#This will give the number of rows and columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

Look at the information in 'Company Name' column, there are mixed values in this column, we will only extract name of company.

In [ ]:
#I will first convert the naming then view the unique values in the Company Name column.
df.rename(columns={'company_name': 'Company Name'}, inplace=True)
df['Company Name'].head()

0           Healthfirst\n3.1
1               ManTech\n4.2
2        Analysis Group\n3.8
3               INFICON\n3.5
4    Affinity Solutions\n2.9
Name: Company Name, dtype: object

In [ ]:
#This code splits each value in 'Company Name' by '\n' and keeps only the part before the newline.
df['Company Name'] = df['Company Name'].map(lambda x: x.split('\n')[0])

And now it is clean!

In [ ]:
#Lets Check
df['Company Name'].head()

0           Healthfirst
1               ManTech
2        Analysis Group
3               INFICON
4    Affinity Solutions
Name: Company Name, dtype: object

In [ ]:
#Lets Check
df.iloc[100:110]['Competitors']

100                                         -1
101                                         -1
102                                         -1
103                                         -1
104                  Square, PayPal, H&R Block
105                                         -1
106                                         -1
107                                         -1
108                                         -1
109    Booz Allen Hamilton, CACI International
Name: Competitors, dtype: object

I found '-1' and 'Unknown' values in all columns, we have to replace it 'na'

In [ ]:
#We want to visualize 'Competitors' column from rows 100 to 109.
df.iloc[100:110]['Competitors']

100                                         -1
101                                         -1
102                                         -1
103                                         -1
104                  Square, PayPal, H&R Block
105                                         -1
106                                         -1
107                                         -1
108                                         -1
109    Booz Allen Hamilton, CACI International
Name: Competitors, dtype: object

In [ ]:
#Lets replace all '-1' and 'Unknown' to "na"


df.replace('-1', 'na', inplace=True)
df.replace('Unknown', 'na', inplace=True)

df.replace(-1, 'na', inplace=True)

In [ ]:
#The 'Salary Estimate' column contains minimum and maximum salary values, but it's poorly organized. We'll clean it up.
df['Salary Estimate'].head()

0    $137K-$171K (Glassdoor est.)
1    $137K-$171K (Glassdoor est.)
2    $137K-$171K (Glassdoor est.)
3    $137K-$171K (Glassdoor est.)
4    $137K-$171K (Glassdoor est.)
Name: Salary Estimate, dtype: object

We'll clean it by extracting the minimum and maximum salary estimates into separate columns and then calculate the average salary.

In [ ]:
pattern = r'\$(\d+)K-\$(\d+)K'

df[['min_salary', 'max_salary']] = df['Salary Estimate'].str.extract(pattern).astype(int)

df['avg_salary'] = df.apply(lambda row: int((row['min_salary'] + row['max_salary']) / 2), axis=1)

df['Salary Estimate'] = df['min_salary'].astype(str) + '-' + df['max_salary'].astype(str)

In [ ]:
#Its now more organized
df[['Salary Estimate', 'min_salary', 'max_salary', 'avg_salary']].head()

  Salary Estimate  min_salary  max_salary  avg_salary
0         137-171         137         171         154
1         137-171         137         171         154
2         137-171         137         171         154
3         137-171         137         171         154
4         137-171         137         171         154

We have a column 'Company Age', there are -1 values in this column, it is good a new column named 'company_age'.

In [ ]:
df['company_age'] = df['Founded'].map(lambda x: 2024 - int(x) if str(x).isdigit() and int(x) > 0 else 0)

In [ ]:
df['company_age'].head()

0    31
1    56
2    43
3    24
4    26
Name: company_age, dtype: int64

Look at this two columns, 'Location' columns describes where you will work, in office in certain State in USA, 'Headquarters' columns describes where is headquarter of company. If there is a same informations in these two columns it means you will work in headquarter of company, otherwise not, we will create new columns named 'same_state'.

In [ ]:
df[['Location', 'Headquarters']].head()

        Location            Headquarters
0   New York, NY            New York, NY
1  Chantilly, VA             Herndon, VA
2     Boston, MA              Boston, MA
3     Newton, MA  Bad Ragaz, Switzerland
4   New York, NY            New York, NY

In [ ]:
df['same_state'] = df.apply(lambda row: 1 if row['Location'] == row['Headquarters'] else 0, axis=1)

In [ ]:
df[['Location', 'Headquarters', 'same_state']].head()

        Location            Headquarters  same_state
0   New York, NY            New York, NY           1
1  Chantilly, VA             Herndon, VA           0
2     Boston, MA              Boston, MA           1
3     Newton, MA  Bad Ragaz, Switzerland           0
4   New York, NY            New York, NY           1

As you see there is whole bunch of information in 'Job Description' column, we can not read all these one by one. these very popular technologies used in Data Science:

Python
Excel
Hadoop
Spark
AWS
Tableau
Big Data
If employer requires some of these technologies these technologies must be written in 'Job Description' column, we will create 7 boolean (0/1) columns which refer to these 7 technologies.

In [ ]:
df['python']   = df['Job Description'].map(lambda x: 1 if 'python'   in x.lower() else 0)
df['excel']    = df['Job Description'].map(lambda x: 1 if 'excel'    in x.lower() else 0)
df['hadoop']   = df['Job Description'].map(lambda x: 1 if 'hadoop'   in x.lower() else 0)
df['spark']    = df['Job Description'].map(lambda x: 1 if 'spark'    in x.lower() else 0)
df['aws']      = df['Job Description'].map(lambda x: 1 if 'aws'      in x.lower() else 0)
df['tableau']  = df['Job Description'].map(lambda x: 1 if 'tableau'  in x.lower() else 0)
df['big_data'] = df['Job Description'].map(lambda x: 1 if 'big data' in x.lower() else 0)

In [ ]:
df[['python', 'excel', 'hadoop', 'spark', 'aws', 'tableau', 'big_data']]

     python  excel  hadoop  spark  aws  tableau  big_data
0         0      0       0      0    1        0         0
1         0      0       1      0    0        0         1
2         1      1       0      0    1        0         0
3         1      1       0      0    1        0         0
4         1      1       0      0    0        0         0
..      ...    ...     ...    ...  ...      ...       ...
667       1      1       1      0    0        1         1
668       0      0       0      0    0        0         0
669       1      1       1      0    0        1         0
670       1      0       1      1    0        0         1
671       1      1       0      0    0        1         0

[672 rows x 7 columns]

We standardized job titles by converting them to lowercase, matching them with predefined keywords, and creating a new 'Updated Job Title' column, with the option to drop the original 'Job Title' column.

In [ ]:
# A function to filter job titles.

def job_title(title):
    title_lower = title.lower()
    if 'data scientist' in title_lower:
        return 'Data scientist'
    elif 'data engineer' in title_lower:
        return 'Data engineer'
    elif 'analyst' in title_lower:
        return 'Analyst'
    elif 'machine learning' in title_lower:
        return 'Machine Learning Engineer'
    elif 'manager' in title_lower:
        return 'Manager'
    elif 'director' in title_lower:
        return 'Director'
    return 'NA'

df['Updated Job Title'] = df['Job Title'].apply(job_title)
# df = df.drop('Job Title',axis=1)

In [ ]:
df[['Updated Job Title']].head()

  Updated Job Title
0    Data scientist
1    Data scientist
2    Data scientist
3    Data scientist
4    Data scientist

In [ ]:
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,company_age,same_state,python,excel,hadoop,spark,aws,tableau,big_data,Updated Job Title
0,0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,31,1,0,0,0,0,1,0,0,Data scientist
1,1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,...,56,0,0,0,1,0,0,0,1,Data scientist
2,2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,...,43,1,1,1,0,0,1,0,0,Data scientist
3,3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,24,0,1,1,0,0,1,0,0,Data scientist
4,4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,...,26,1,1,1,0,0,0,0,0,Data scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,...,35,1,1,1,1,0,0,1,1,Data scientist
668,668,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,na,JKGT,"San Francisco, CA",na,na,na,...,0,0,0,0,0,0,0,0,0,Data scientist
669,669,Data Scientist,105-167,Join a thriving company that is changing the w...,na,AccessHope,"Irwindale, CA",na,na,na,...,0,0,1,1,1,0,0,1,0,Data scientist
670,670,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,na,...,0,0,1,0,1,1,0,0,1,Data scientist
671,671,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,...,48,0,1,1,0,0,0,1,0,Data scientist